<div class="row">
  <div class="col-xs-12 text-xs-center">
    <h3>Sign Up</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
          <%= f.label :email, class: 'sr-only' %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'example@email.com' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
          <%= f.label :name, class: 'sr-only' %>
          <%= f.email_field :name, class: 'form-control', placeholder: 'username' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <%= f.label :password, class: 'sr-only' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: @minimum_password_length ? "password (#{@minimum_password_length} characters minimum)" : "password"  %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <%= f.label :password_confirmation, class: 'sr-only' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'password again' %>
        </div>
      </div>


      <%= f.submit "Sign Up", class: 'btn btn-primary' %>
    <% end %>
    <br>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
