<%= form_for(@post, html: {class: 'form'}) do |f| %>
  <% if @post.errors.any? %>
    <div class="row">
      <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
        <%= errors(@post.errors.full_messages) %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
      <%= f.label :title, class: 'sr-only' %>
      <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'title' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
      <%= f.label :body, class: 'sr-only' %>
      <%= f.text_area :body, class: 'form-control', placeholder: 'Body', rows: 10 %>
    </div>
  </div>
  <%= f.submit params[:action] == 'new' ? 'Create' : 'Update', class: 'btn btn-primary' %>
<% end %>
