<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Test blog">
  <meta name="author" content="Sasa Sekaric">
  <link rel="icon" href="../../favicon.ico">

  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="navbar-header">
        <%= link_to "Blog", root_path, class: 'navbar-brand' %>
        <ul class="nav navbar-nav">
          <% if !user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Settings", edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "My Posts", my_posts_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Create Post", new_post_path, class: 'btn btn-primary' %>
          </li>
        </ul>

        <%= form_tag(search_posts_path, method: "patch", class: 'form-inline pull-xs-right') do %>
          <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search posts by title' %>
          <%= submit_tag "Search", class: 'btn btn-primary' %>
        <% end %>

      </div>
    </nav> <!-- /navbar -->

    <div id="yield" class="<%= params[:controller] %>-<%= params[:action] %>">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div> <!-- /container -->
</body>
</html>
